/* PRESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* font: inherit; */
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    margin-top: auto;
}

img,
svg,
picture,
video {
    max-width: 100%;
}

/* Utils */

.container {
    max-width: 1070px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

:root{
    --footer-height: 100px;
    --sidebar-width: 230px;
}

.top-content{
    height: calc(100vh - var(--footer-height));
    display: flex;
}

.right-content {
    position: relative;
    background-color: blue;
    height: 300px;
    width: calc(100% - var(--sidebar-width));
}

.sidebar{
    background-color: #000;
    height: 700px;
    width: var(--sidebar-width);
    overflow: auto;
    padding-left: 20px;
}

.logo {
    width: 130px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.first-sidebar-ul{
    position: relative;
}

.sidebar-li{
    margin-bottom: 7px;
}

.home{
    width: 30px;
    color: #d2d2d2;
}

.first-li{
    color: #fcfcfc;
    position: absolute;
    top: 7px;
    left: 35px;
}

.search{
    width: 30px;
}

.second-li {
    position: absolute;
    bottom: 45px;
    left: 35px;
}

#library-li{
    margin-bottom: 25px;
}

.libreria {
    width: 30px;
}

.third-li {
    position: absolute;
    bottom: 10px;
    left: 35px;
}

#first-sidebar-li{
    margin-bottom: 15px;
}

.d-flex{
    display: flex;
}

.grey-square{
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
}

.fa-plus{
    color: black;
    text-align: center;
    vertical-align: middle;
}

#create-playlist{
    color: #707378;
}

header{
    height: 80px;
    width: 100%;
    background-color: #080b12;
    opacity: .8;
    position: fixed;
    z-index: 1;
}

button {
    width: 200px;
    background-color: #080b12;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px;
    font-size: smaller;
    margin-left: 880px;
    margin-top: 15px;
}

button:hover{
    scale: 1.2;
}

main{
    height: 700px;
    background-color: #141922;
    overflow: auto;
}

.links-container {
    width: 100%;
    height: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.main-links {
    color: #707378;
    font-size: smaller;
    margin-right: 15px;
    margin-top: 20px;
}

a{
    text-decoration: none;
}

a:visited{
    color: #707378;
}

h2{
    color: #fff;
}

.first-title{
    margin-bottom: 35px;
}

.row{
    margin-bottom: 45px;
}

.box{
    margin-right: 15px;
}

.description {
    text-align: center;
    margin-top: 7px;
}

h4{
    color: #fff;
}

.subtitle{
    color: #707378;
    margin-top: 5px;
}

img{
    object-fit: cover;
}

.second-title{
    margin-bottom: 10px;
}

.second-subtitle {
    color: #707378;
    margin-bottom: 25px;
}

.circular-image{
    border-radius: 50%;
}




footer{
    background-color: grey;
    height: var(--footer-height);
    margin-top: 1000px;
}